{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}



<h1 class="page-heading">Create a new note</h1>

<p class="page-description">Notes are encrypted. Using a passphrase means that no one will be able to read your note without that passphrase. Your note will be deleted forever when it expires.</p>


<form action="{{ url_for('main.new_note') }}" method="post" onsubmit="on_new_note_submit()" class="form form-new-note">

  {{ form.csrf_token }}

  <p class="field-wrap field-content">
    {{ form.new_note(class_="field-input note-content") }}
  </p>
  
  <p class="field-wrap field-passphrase">
    {{ form.passphrase.label(class_="field-label") }}
    {{ form.passphrase(class_="field-input note-passphrase has-counter", placeholder="Adding a passphrase will increase security") }}
    <span class="field-meta passphrase-char-count"><span class="cur-chars">0</span><span class="sep">/</span><span class="max-chars">128</span></span>
  </p>
  
  <p class="field-wrap field-expires">
    {{ form.expires.label(class_="field-label") }}
    {{ form.expires(class_="field-input note-expires") }}
  </p>
  
  
  {% if form.new_note.errors %}
  
    <ul class="errors">
  
    {% for error in form.new_note.errors %}
  
      <li class="error-item">{{ error }}</li>
  
    {% endfor %}
  
    </ul>
  
  {% endif %}  
  
  
  <p class="field-wrap field-submit">{{ form.submit_btn(class_="btn btn-primary submit-btn") }}</p>

</form>





{% if notes %}

<hr>


<h3>All notes</h3>

<ol>
 {% for note in notes %}
 
  <li>{{note.id}} | <a href="{{ url_for("main.secret", slug=note.slug)}}">{{note.slug}}</a> | {{ note.created_at.strftime('%a %b %d, %Y %I:%M %p') }}</li>
 
 {% endfor %}
</ol>

{% endif %}

{% endblock %}

