{% extends 'base.html' %}

{% block title %}View Note{% endblock %}

{% block content %}

<h1 class="Heading">View note</h1>


<details open="true">
  <summary>Share URL</summary>
  <input type="text" style="width: 100%;" value="{{ url_for('main.secret', slug=slug, _external=True) }}">
</details>


<form action="{{ url_for('main.view_note', slug=slug) }}" method="post">

  {{ form.csrf_token }}

  {{ form.note_slug }}
  
  <p>
    <label for="{{form.passphrase.id}}">{{form.passphrase.label}}</label><br>
    {{ form.passphrase(class_="note-passphrase") }}
  </p>
  
  
  {% if errors['remaining_attempts'] %}
  
    <p>{{ errors['remaining_attempts'] }}</p>
  
  {% endif %}
  
  <p>{{ form.submit_btn }}</p>

</form>



{% endblock %}
