{% extends 'base.html' %}

{% block title %}View Note{% endblock %}

{% block content %}


  <details class="note-share-url">
    <summary class="summary">Share URL</summary>
    <input type="text" value="{{ url_for('main.secret', slug=slug, _external=True) }}" class="url">
  </details>
  
  
  <h1 class="page-heading">View note</h1>
  
  <p class="page-description">You will be able to view this note one time. After that it will be permanently deleted.</p>
  
  
  <form action="{{ url_for('main.view_note', slug=slug) }}" method="post" class="form form-note-secret">
  
    {{ form.csrf_token }}
  
    {{ form.note_slug }}
    
    <p class="field-wrap field-passphrase">
      {{ form.passphrase.label(class_="field-label") }}
      {{ form.passphrase(class_="field-input note-passphrase") }}
    </p>
    
    
    {% if errors['remaining_attempts'] %}
    
      <ul class="errors">
    
        <li class="error-item">{{ errors['remaining_attempts'] }}</li>
        
      </ul>
    
    {% endif %}
    
    
    <p class="field-wrap field-submit">{{ form.submit_btn(class_="btn btn-primary submit-btn") }}</p>
  
  </form>



{% endblock %}
