{% extends 'base.html' %}

{% block title %}Your Note{% endblock %}

{% block content %}

<h1 class="page-heading">Your note</h1>


{% if note %}


  <p class="field-wrap field-content">
  
    <textarea class="field-input note-content view-note" name="view_note">{{ decrypted_note }}</textarea>
    
  </p>
  
  <p>This note has now been removed. If you leave or refresh the page you won't be able to see it again.</p>
  
  <p><a href="{{ url_for('main.index') }}" class="new-note-link">Make a new secret note</a>.</p>

{% else %}

  <p>This isn't supposed to happen but this note doesn't exist</p>

{% endif %}



{% endblock %}
